tools

tmp

projects/*/*txt
projects/*/*cmp
projects/*/*hdl
projects/*/*asm
projects/*/*tst

projects/*/*/*txt
projects/*/*/*cmp
projects/*/*/*hdl
projects/*/*/*asm
projects/*/*/*tst

projects/*/*/*/*txt
projects/*/*/*/*cmp
projects/*/*/*/*hdl
projects/*/*/*/*asm
projects/*/*/*/*tst
